@font-face {
    font-family: "odachi";
    src: url(./Webfont/Odachi.woff);
}

@font-face {
    font-family: "haymaker";
    src: url(./Webfont/Haymaker.woff);
}

/* Full Page */

body {
    background-image: url("./Assets/seamless-gold-rhombus-grid-pattern-black-background_53876-97589.webp");
    background-size: cover;
    background-attachment: fixed;
}

/* Top Section */

.upperbody {
    text-align: center;
}

.heading {
    font-family: "odachi";
    font-size: 80px;
    color: antiquewhite;
    text-shadow: 4px 4px orange;
}

/* Mid Section */

.midbody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: max-content;
    min-width: 462px;
    max-width: 462px;
}

.grid {
    width: 150px;
    height: 150px;
    border: 2px solid rgba(250, 235, 215, 0.2);
    font-family: "odachi";
    display: flex;
    justify-content: center;
    align-items: center;
    color: orange;
    font-size: 40px;

}
.row {
    display: flex;
}

.grid:hover {
    width: 150px;
    height: 150px;
    background-color: #f5deb8;
}

/* Player Details */

.playerOne {
    background-image: url("./Assets/x-mark-transparent-background-25.webp");
    background-size: cover
}

.playerTwo {
    background-image: url("./Assets/orange-1618917_960_720.webp");
    background-size: cover;
}

.player1profile, .player2profile, .turnNotice{
    text-align: center;
    font-family: "haymaker";
    color: antiquewhite;

}

.player1profile img, .player2profile img {
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
}

#p1Scoreboard, #p2Scoreboard {
    font-size: 30px;
}

/* Bottom of Page */

.lowerbody {
    display: flex;
    justify-content: center;
}

.lowerbody button {
    margin: 40px 40px;
}

/* Bottom styling */

button, button::after {
    width: 120px;
    height: 50px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, orange 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    box-shadow: 6px 0px 0px antiquewhite;
    outline: transparent;
    position: relative;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'textplaceholder';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, antiquewhite 3%, antiquewhite 5%, orange 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px antiquewhite;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  @media (max-width: 600px) {
    .heading {
      margin-bottom: 0;
    }
    .turnNotice {
      margin: 0;
    }
    .midbody {
      display: grid;
    }
    .boardcontainer {
      min-width: 333px;
      max-width: 333px;
    }
    .grid {
      width: 111px;
      height: 111px;
    }
    .player1profile {
      grid-row-start: 2;
      grid-column-start: 1
    }
    .player1profile img, .player2profile img {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    }
    .lowerbody {
      position: absolute;
      top: 0;
    }
    .lowerbody button {
    margin: 5px 30px;
    }
    #p1Scoreboard, #p2Scoreboard {
      font-size: 20px;
    }
    #p2NameChange, #p2PicChange, #p1NameChange, #p1PicChange {
      display: none;
    }
    button, button::after {
      width: 100px;
      height: 46px;
    }
  }